{
  "content": "**TEST**",
  "embed": {
    "color": 6887363,
    "footer": {
      "icon_url": "https://vignette.wikia.nocookie.net/roblox/images/4/46/R15dance1.gif/revision/latest/scale-to-width-down/100?cb=20190706232244",
      "text": "Whats Up Bitch"
    },
    "thumbnail": {
      "url": ""
    },
    "image": {
      "url": "https://vignette.wikia.nocookie.net/roblox/images/4/46/R15dance1.gif/revision/latest/scale-to-width-down/100?cb=20190706232244"
    },
    "author": {
      "name": "Raf36",
      "url": "https://discordapp.com",
      "icon_url": "https://cdn.discordapp.com/embed/avatars/0.png"}
      }    
  }
